{
  "presets": ["env"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "utils": "./src/js/utils",
        "rave": "./src/js/rave",
        "views": "./src/js/lexicon/views",
        "plugins": "./src/js/rave/plugins",
        "app": "./src/js/app"
      }
    }]
  ]
}
