{
  "presets": ["env"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "utils": "./src/js/utils",
        "polly-ui": "./src/js/polly-ui",
        "views": "./src/js/lexicon/views",
        "plugins": "./src/js/polly-ui/plugins",
        "app": "./src/js/app",
        "events": "./src/js/events",
        "env": "./src/js/polly-ui/canvas/html"
      }
    }]
  ]
}
